.activity-list {
	display: flex;
	gap: 30px;
	margin-bottom: 10px;
}
.activity-list-item {
	font-size: 14px;
}
.activity-list-item__label {
	font-size: 14px;
}
.activity-list-item__value {
	font-size: 30px;
	text-align: center;
}